<a class="dropdown-item active" asp-action="Super" asp-controller="User">Dashboard</a>
<a class="dropdown-item" asp-action="Add" asp-controller="Role">Create Roles</a>
<a class="dropdown-item" asp-action="List" asp-controller="Role">Role List</a>
<a class="dropdown-item" asp-action="Add" asp-controller="Company">Add Company</a>
<a class="dropdown-item" asp-action="List" asp-controller="Company">Company List</a>