@using AirlineMS.Models.Dtos;
@model IEnumerable<CompanyDto>;
@{
    ViewData["Title"] = "List of Company";
}
<div>
    <div class="pt-4">
        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>CompanyName</th>
                    <th>CACRegistrationNum</th>
                    <th>CACDocument</th>
                    <th>Logo</th>                   
                    <th>Detail</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var company in Model)
                {
                    <tr>
                        <td>@company.Id</td>
                        <td>@company.Name</td>
                        <td>@company.CACRegistrationNum</td>
                        <td><img src="~/Upload/Images/@company.CACDocument" height="100" width="100"></td>
                        <td><img src="~/Upload/Images/@company.Logo" height="100" width="100"></td>
                        <td>
                            <a asp-controller="Company" asp-action="Details" asp-route-id="@company.Id">View</a>
                        </td>
                        <td>Remove</td>
                    </tr>
                }
            </tbody>
            <div>

            </div>
        </table>
    </div>
</div> 
