@model AirlineMS.Models.Dtos.UpdateRoleRequestModel

<div>
    <div>
        <form asp-action="Update">
            <div>
                <label asp-for="Name"></label>
                <input type="text" asp-for="Name">
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="Description"></label>
                <input type="text" asp-for="Description">
                <span asp-validation-for="Description"></span>
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="Submit"/>
            </div>

        </form>
    </div>
</div>