@model AirlineMS.Models.Dtos.CreatePassengerRequestModel

<body>


    <div>
        <h2>Registration Form </h2>
    </div>
    <div>
        <form asp-action="Add">

            <div>
                <label asp-for="FirstName"></label>
                <input type="text" asp-for="FirstName" placeholder="Alexandra">
                <span asp-validation-for="FirstName"></span>
                <br><br>
            </div>
            <div>
                <label asp-for="LastName"></label>
                <input type="text" asp-for="LastName" placeholder="Bruno">
                <span asp-validation-for="LastName"></span>

                <br><br>
            </div>
            <div>
                <label asp-for="PhoneNumber"></label>
                <input type="text" asp-for="PhoneNumber" placeholder="+234">
                <span asp-validation-for="PhoneNumber"></span>
                <br><br>
            </div>
            <div>
                <label asp-for="Email"></label>
                <input type="text" asp-for="Email" placeholder="user@gmail.com">
                <span asp-validation-for="Email"></span>
                <br><br>
            </div>
            <div>
                <label asp-for="Password"></label>
                <input type="text" asp-for="Password">
                <span asp-validation-for="Password"></span>
                <br><br>
            </div>
            <div class="background">
                <div class="shape"></div>
                <div class="shape"></div>
                <div class="shape"></div>


            </div>
            <style>
                div {
                    color: cornflowerblue;
                    text-decoration: solid;
                }
                body{
                    background-color: rgb(8, 57, 73);
                }
            </style>

            <div>
                <input class="btn btn-primary" type="submit" value="Submit" />
            </div>
        </form>
    </div>
</body>